@font-face {
  font-family: geist;
  src: url("./assets/fonts/GeistVF.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background: #060307;
  --background2: #09040b;
  --primary: #59047b;
  --secondary: #211924;
  --tertary: #1f2937;
  --light: #faf9fb;
  --light1: #E8B5FC;
  --light2: #bdabc4;
  /* Fonts */
  --font1: "geist";
}


/* Scrollbar */
  * {
    scrollbar-width: auto;
    scrollbar-color: #211924 #060307;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #060307;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #211924;
    border-radius: 20px;
  }